.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 4px;
    text-decoration: none;
    color: #fffffff7;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.pagination a:hover {
    background-color:#fffffff7 ; 
    color: #141414; 
    cursor: pointer;
}

.pagination .active a {
    background-color: #ffffff;
    color: #141414;
    font-size: 1rem;
    border-color: #ffffff;
}

.pagination .break-me {
    display: inline-block;
    padding: 8px 16px;
    color: #6c757d;
}

.pagination .disabled a {
    cursor: not-allowed;
    color: #6c757d;
    border-color: #ddd;
}

.pagination .disabled a:hover {
    background-color: rgba(255, 255, 255, 0.17); 
}
@media (min-width: 780px) and (max-width: 1279px) {
    .pagination {
        margin: 15px 0;
    }

    .pagination a {
        padding: 6px 12px;
        margin: 0 3px;
        font-size: 12px;
    }

    .pagination .active a {
        font-size: 0.9rem;
    }

    .pagination .break-me {
        padding: 6px 12px;
    }
}

@media (min-width: 320px) and (max-width: 779px) {
    .pagination {
        margin: 10px 0;
        padding: 0 5px;
    }

    .pagination a {
        padding: 4px 8px;
        margin: 0 2px;
        font-size: 10px;
    }

    .pagination .active a {
        font-size: 0.8rem;
    }

    .pagination .break-me {
        padding: 4px 8px;
    }
}