.footer {
    display: flex; 
    justify-content: center; 
    gap: 1.5rem; 
    align-items: center; 
    padding: 2rem; 
    background-color: #282c34;
}

.github {
    color: #ffffff; 
    font-size: 2rem; 
    margin: 0; 
    transition: color 0.3s ease; 
}

.icon {
    width: 2rem;
    height: 2rem;
}

.github:hover {
    color: #61dafb; 
}

.year {
    font-size: 1.2rem; 
    color: #ffffff;
    margin: 0; 
}

