.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30rem;
    padding: 1rem;
    color: white;
    position: relative;
}

.header_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_menu a {
    text-decoration: none;
}

.header_home, 
.header_movies, 
.header_tvs {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.header_home:hover, 
.header_movies:hover, 
.header_tvs:hover {
    text-decoration: underline;
}

.active {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-decoration: underline;
    color: white;
}

.burger_menu {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 3; 
}

.mobile_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    background: #333;
    padding: 3rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10; 
}
.close_menu {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    align-self: flex-end; 
    margin-bottom: 1rem; 
    padding: 0 2rem 0 0;
}
.mobile_menu a {
    text-decoration: none;
    margin: 0.5rem 0;
}

.mobile_menu p {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

@media (min-width: 780px) and (max-width: 1279px) {
    .header {
        gap: 3rem;
        padding: 1rem;
    }

    .header_home, 
    .header_movies, 
    .header_tvs {
        padding: 0.5rem 0.2rem;
        font-size: 1rem;
    }

    .active {
        padding: 0.5rem 0.2rem;
        font-size: 1rem;
    }
}

    @media ((min-width: 320px) and (max-width: 779px)) {
        .header {
            gap: 0;
            padding: .8rem;
        }
        .header_home, 
        .header_movies, 
        .header_tvs {
            padding: 0;
            font-size: .7rem;
        }
        .active {
            padding: 0;
            font-size: .7rem;
        }
    
        .header_menu {
            display: none;
        }
    
        .burger_menu {
            display: block;
        }
    
}



