.container {
  width: 100%;
}

.list {
  display: flex;
}

.item {
  flex: 0 0 calc(25% - 10px); /* Adjust this to fit 4 items within the slider width */
  margin-right: 10px;
  scroll-snap-align: start;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.title {
  font-size: 14px;
  color: #fff;
  margin: 5px 0;
}

.vote {
  font-size: 12px;
  color: #fff;
}
